<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comments</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>
<style>
    .table{
        color:'#434648 !important;
    }
    tr th{
        background-color: #eb8a8a !important;
    }
</style>
<body>
    <div class="container">
        <h1 style="text-align:center;color:#eb8a8a;">
            Comments
        </h1>
        <!-- Bootstrap table class -->
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Youtuber Name</th>
                    <th scope="col">Commenter Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Thumbnail of Link</th>


                </tr>
            </thead>
            <tbody>
                {{data.youtuber_name}}
                {% for comment in data %}
                <tr class="table-secondary">
                     <td>{{comment['youtuber_name']}}</td>
                     <td>{{comment['commenter_name']}}</td>
                     <td>{{comment['comments']}}</td>
                     <td><img src="{{comment['thumbnail_link']}}" width="100px"/></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>